body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #ffdddd;
    font-size: 15px;
    line-height: 1.5;

}
h1{
    font-size: 64px;

}
h2{
    font-size: 30px;
}
#home {
    filter: grayscale(50%);
}

#home img {
    width: 100%;


}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.75;
    background: white;
    height: 55px;
    font-size: 15px;
    z-index: 1;


}

#nav li {
    float: left;
    text-align: center;
    width: 25%;

}

#nav ul {
    list-style-type: none;


}

#nav a {
    text-decoration: none;
    color: black;
    height:80%;
    width:100%;
}
.grey:hover{
    background-color: grey;
}
#hooverblack:hover{
    background-color: black;
    color: white;
}
#janejohn {
    text-align: center;
    padding-top: 30px;
    filter: grayscale(50%);

}

#janejohn #content {
    max-width: 950px;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 65px;
}



#janejohn #content img {
    margin: 32px auto;
    border-radius: 5px;
    z-index: -1;
}
#janejohn #content #blackButton a{
    display: inline-block;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
}
#flowers{
    position: relative;
    filter: grayscale(50%);
}
#flowers img{
    width: 100%;

}
#weddingLocation{
    max-width: 980px;
    margin: auto;
    filter: grayscale(50%);
    text-align: center;
}
#weddingLocation img{
    border-radius: 5px;
}
#locationBottom{
    max-width: 980px;
    margin: auto;
}
#locationBottom #left{
    float:left;
    width: 50%;
    text-align: center;


}
#locationBottom #right{
    float: right;
    width: 50%;
    text-align: center;

}
#rsvp{
    max-width: 980px;
    margin: auto;
    text-align: center;
}
#rsvp h1{
    clear: both;
    padding-top: 100px;
    padding-bottom: 20px;
}
#bottomButton{
    margin-top: 20px;
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    color: white;
    opacity: 0.6;
    background-color: red;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    color: white;

}
footer p{
    margin-top: 40px;
    padding: 25px;
    margin-bottom: 0;
}
#whitebottom{
    width: 100%;
    height: 55px;
    background-color: white;
}



