body, html{
    margin: 0px;
}
.header img{
    width: 100%;
    position: relative;
    margin-top: -70px;
}
.text{

    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}