body {
    background-image: url('../images/wedding_couple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.first{
    height: 100vh;
}
.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.nav{
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.75;
    height: 50px;
}
.nav a{
    float: left;
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;

}
